@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


$abril-font:"Abril Fatface";
$sans_font:'Open Sans';
$azul:#2DA1FF;
$turquesa:#60EED4;
$verde:#BDD9D4;
$amarillo:#F8EDC2;
$rosa:#FBE3E9;
$piel:#F8D6C6;
$negro:#1C1C1C;
$gris:#E1E1E1;
